/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
  color: var(--background-accent-color, #ff0070);
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--background-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: calc(100vb - 20px);
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  border-inline-start: 1px solid var(--header-menu-color, #ff0070);
  border-block-end: 1px solid var(--header-menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border-inline-end: 1px solid var(--header-menu-color, #ff0070);
  border-block-start: 1px solid var(--header-menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.header__decorated-element {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 3px;
  line-height: 138.889%;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.header__decorated-element::after {
  content: "";
  display: inline-block;
  margin: 9px;
  background-color: #FF0070;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #FF0070;
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  padding-block-start: 10vb;
  color: var(--header-menu-color, #FF0070);
}

.header__theme-menu-item {
  inline-size: 18.5vi;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__heading {
  padding: 10vb 0 8.3vb 0;
  color: var(--logo-color, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #ff0070;
}

.heading, .main-heading, .accent-heading {
  font-size: 18px;
}

.accent-header-heading {
  font-weight: bold;
}

.accent-heading {
  color: var(--heading-color, #000028);
  background-color: var(--background-accent-color, #ff0070);
}

.main-heading {
  color: var(--header-menu-color, #ff0070);
}

.header__theme-menu-button {
  width: 100%;
  border: none;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-menu-hover-color, rgba(255, 0, 112, 0.40));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--header-menu-color, #ff0070);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-menu-color, #ff0070);
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-paragraph {
  color: var(--text-color, #f1b2ce);
}

.main .accent-heading {
  margin-block-start: 10px;
}

.main h4 {
  font-weight: normal;
  font-size: inherit;
}

.main a {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--background-accent-color, #ff0070);
}

.main a:hover {
  border-block-end: 1px solid currentColor;
}

.main a:focus {
  outline: none;
}

.main a:focus-visible {
  outline: 1px solid currentColor;
  appearance: none;
}

.main__table {
  display: grid;
  gap: 10px;
}

.grid-extra-container {
  display: grid;
  row-gap: 10px;
}

.galery-grid-container {
  display: grid;
  grid-row-gap: 10px;
  padding-block-start: 5px;
}

.img-galery-container {
  display: grid;
  grid-row-gap: 5px;
}

.gallery-image {
  display: block;
  inline-size: 100%;
}

.img-galery-container .accent-heading {
  margin-block-start: 0;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: calc(100vb - 20px);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  border-inline-start: 1px solid var(--header-menu-color, #ff0070);
  border-block-end: 1px solid var(--header-menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  border-inline-end: 1px solid var(--header-menu-color, #ff0070);
  border-block-start: 1px solid var(--header-menu-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.footer-heading {
  padding: 0;
  text-shadow: 2px 2px 0px #ff0070;
}

/* MEDIA queries */

@media (width >=768px) {
  .page {
    gap: 80px;
    padding: 20px;
  }

  .header {
    min-block-size: calc(100vb - 40px);
  }

  .header__theme-menu-item {
    inline-size: 9.5vi;
  }

  .header__heading {
    margin-left: -20px;
    padding-block-start: 17.1vb;
  }

  .header__theme-menu {
    padding-block-start: 16.8vb;
  }

  .accent-header-heading {
    align-self: flex-end;
    margin-block-start: 7.57vb;
    inline-size: calc(50vi - 20px);
  }

  .main {
    gap: 80px;
  }

  .main__table:not(:nth-child(2)) {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .main .accent-heading:first-of-type {
    margin-block-start: 0;
  }

  .main__table:nth-child(2) .main-heading {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-block-end: 10px;
  }

  .main__table:nth-child(3) h3 {
    margin-bottom: 10px;
  }

  .img-galery-container {
    gap: 13px;
  }

  .img-galery-container .accent-heading {
    margin-block-end: 0;
  }

  .galery-grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .galery-grid-container img {
    display: block;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
  }

  .image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .image:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .image:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    min-block-size: calc(100vb - 40px);
  }

  .footer-heading {
    padding: 0.5vi 0 0 2.6vi;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    align-self: center;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-item {
    inline-size: 7vi;
  }

  .header__heading {
    padding-block-start: 35.7vb;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .accent-header-heading {
    margin-block-start: 6.5vb;
  }

  .main__table:nth-child(1) {
    gap: 10px;
  }

  .main__table:nth-child(2) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .main__table:nth-child(2) .main-heading {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .main__table:nth-child(2) h3 {
    margin-block-start: 0;
  }

  .main__table:nth-child(2) .accent-heading:first-of-type {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .main__table:nth-child(2) .accent-heading:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .main__table:nth-child(2) .accent-heading:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .main__table:nth-child(2) .main-paragraph:first-of-type {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .main__table:nth-child(2) .main-paragraph:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .main__table:nth-child(2) .main-paragraph:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .main__table:nth-child(3) {
    gap: 10px;
  }

  .footer {
    padding: 39vb 0 39vb;
  }

  .footer-heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0.2vi 0 0 2vi;
  }
}